<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.RajnikantVsCIDJokez.page" version="1.2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Rajnikant Vs CID Jokez</name>
  <description>
        An app that send you jokes fetched from facebook page Sarcasm
        sarcasm sign for iphone
        sarcasm detector
        alcohol netflix und sarcasm
        cheers to sarcasm
        daily dose of sarcasm
        dating sarcasm
        double sarcasm
        dr  sarcasm - the podcast
        el gran libro del sarcasmo
        flood of sarcasm
        healthy sarcasm podcast - forgettingwalls
        mitch salisbury the sarcasm professors
        positive sarcasm - the show - positive sarcasm
        sarcasm city
        sarcasm overdose
        sarcasm project
        sarcasm stickers
        sisters sarcasm podcast
        the science of sarcasm podcastx
    </description>
  <author email="1anuppanwar@gmail.com" href="https://github.com/anupkumarpanwar">
     Anup Kumar Panwar
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="https://www.facebook.com/*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="splash"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="orientation" value="portrait"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="SocialSharing">
    <param name="android-package" value="nl.xservices.plugins.SocialSharing"/>
  </feature>
  <platform name="android">
    <icon src="resources\android\icon\drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources\android\icon\drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources\android\icon\drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources\android\icon\drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources\android\icon\drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
  </platform>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
</widget>